<p>To help offset development and hosting costs, userstyles.org has partnered with PrestoSavings to provide their software from userstyles.org. PrestoSavings pays userstyles.org a portion of the revenue generated through their software. If you wish to support userstyles.org, please consider <a href="http://userstyles.org/apps/PrestoSavings-stylish.3.0.3.xpi">installing PrestoSavings</a>.</p>

<p>PrestoSavings is a Firefox extension that automatically searches for lower prices for products you are shopping for. A bundle of PrestoSavings and Stylish is offered from userstyles.org. If you do not wish to install PrestoSavings, choose the "just <a href="https://addons.mozilla.org/firefox/downloads/latest/2108/platform:5/addon-2108-latest.xpi?src=external-bundleexplain">Stylish</a>" install link.</p>

<p>While Stylish and PrestoSavings are offered as a bundle, PrestoSavings is not installed as a "part" of Stylish; they merely are being installed at the same time. This means you can disable or remove either one without affecting the other <a href="http://support.mozilla.org/en-US/kb/disable-or-remove-add-ons">via Firefox's extension UI</a>.</p>

<div id="misc-bottom-ad" class="ad">
	<div class="ad-note"><span>Advertisement</span></div>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- Miscellaneous pages bottom responsive -->
	<ins class="adsbygoogle"
		 style="display:block"
		 data-ad-client="ca-pub-2247465624637408"
		 data-ad-slot="5047584116"
		 data-ad-format="auto"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
</div>
