<p>Writing styles requires a working knowledge of CSS. If you don't know CSS, there are many tutorials available online. It may also be helpful to inspect the source of other styles to see how things work.</p>

<p>To post new styles on userstyles.org, you will have to create a user account. Once logged in, you'll see a Create new style link on your user home page.</p>

<p>For help with writing styles, see <a href="https://github.com/JasonBarnabe/stylish/wiki">the wiki</a>. Topics not specifically about writing user styles, but about posting styles to userstyles.org are covered below.</p>

<h2>Limits on user styles</h2>

<p>Styles are limited in a few ways:</p>

<ul>
	<li>Maximum size is 100,000 bytes. Exemptions are possible by <a href="mailto:jason.barnabe@gmail.com">contacting me</a>, I won't grant exemptions if you're using embedded images.</li>
	<li>No @import directives. If an @import is done to a slow-loading server, it will cause browser hangs.</li>
	<li>No XBL due to potential security issues.</li>
	<li>There are various checks done to determine if the posted code is valid CSS. While the code is not actually validated, it does check that the number of braces match. These checks can sometimes be confused by commented out code.</li>
</ul>

<!--
<h2>Getting a better editor inside Stylish for Firefox</h2>

<p>You can use <a href="https://addons.mozilla.org/firefox/addon/4125">It's All Text!</a> to integrate Stylish's code editor with an external editor of your choice.</p>
-->

<h2>Sharing user styles</h2>

<p>The best way to share user styles is to post them to this site. Doing this makes it easy for others to find and install your styles and lets them easily receive updates should you change your style.</p>

<p>An alternate way is to provide put your code in a CSS file and host it somewhere. This will still allow for updates, but there won't be an easy button for users to click to install, and they will have to provide a name for the style themselves.</p>

<p>A final way is to simply provide the code and make users copy and paste it into Stylish. No updates are possible this way.</p>


<h2>Deleting user styles off of userstyles.org</h2>

<p>To delete a style off the site, go to the edit screen, then click the link for deleting. There is no way to truly delete a style; rather, the style no longer shows up in search results, and a large warning is displayed to anyone accessing it directly. This is so that previous users of the style know what happened to it. Please do not "blank out" the style instead of deleting.</p>


<h2 id="help-style-settings">Style settings</h2>

<p>Style settings let you give users options for installing your style. The options chosen affect the CSS provided to the user. Uses of settings include:</p>

<ul>
	<li>Providing alternatives in your style - for example: moving an element versus hiding it.</li>
	<li>Having optional functionality in your style.</li>
	<li>Allowing a user to choose between a number of background images, or provide their own.</li>
	<li>Allowing a user to choose colors.</li>
</ul>

<p>Style settings can change a single value in your CSS or change entire blocks of code.</p>

<h3 id="help-style-settings-type">Types of settings</h3>

<p>Depending on the type of setting you choose, the user may be presented with pre-defined options of your choosing or be asked to provide a specific kind of value. The types of settings are:</p>

<ul>
	<li>Drop-down setting: all options are defined by you, the user is presented with a drop-down list of them to choose from. This is suitable for when you want to have different blocks of CSS included based on the option chosen, but should also be used when none of the other options fit.</li>
	<li>Color setting: the user is presented with a color chooser. The color chosen will be inserted in the hex format (e.g. #FFFFFF).</li>
	<li>Text setting: the user can enter free-form text. The text will have backslashes and quotes escaped. This is suitable inserting CSS string values, for example the "content" attribute.</li>
	<li>Image setting: you can provide options for the user to choose from, but the user can also provide their own URL or upload an image which is transformed into a data URI. This is intended for image options.</li>
</ul>

<h3 id="help-style-settings-edit">Editing settings</h3>

<p>On the edit screen, you can add, edit, delete, and move settings and options. The attributes of settings are:</p>

<ul>
	<li>Label: displayed to the user on your style's page. An example could be "Choose a font".</li>
	<li>Install key: this matches the placeholder in your code (see "Placeholders" below). This is also used when updating your style (see "Updating" below).</li>
	<li>Default: for color and text settings only, this is the initial value entered in the input presented to the user.</li>
</ul>

<p>The attributes of options are:</li>
<ul>
	<li>Label: displayed to the user on your style's page. An example could be "Times New Roman".</li>
	<li>Install key: this is used when updating your style (see "Updating" below). This doesn't need to (and shouldn't) match the setting's install key.</li>
	<li>Value: the text to be inserted at the location of the placeholder in your CSS (see "Placeholders" below).</li>
	<li>Default: sets the initial option selected when the user loads the page.</li>
</ul>

<p>Setting install keys must be unique. Option install keys must be unique within a setting.</p>

<h3 id="help-style-settings-placeholders">Placeholders</h3>

<p>The placeholder is the location in your CSS where the option's value is inserted. It is defined with a specially-formatted comment containing the associated setting's install key.</p>

<p>For a setting with an install key of "font" with two options with values "Times New Roman" and "Helvetica", the CSS you provide would look like this:</p>

<pre><code>div {
	font-face: "/*[[font]]*/" !important;
}</code></pre>

<p>Which, depending on the user's selection, will result in either:</p>

<pre><code>div {
	font-face: "Times New Roman" !important;
}</code></pre>

<p>Or:</p>

<pre><code>div {
	font-face: "Helvetica" !important;
}</code></pre>

<p>Placeholders can be include inside other options, effectively nesting options. Only two levels of nesting is supported.</p>

<h3 id="help-style-settings-updating">Updating</h3>

<p>(Stylish does not yet support updating styles with settings, but will soon...)</p>

<p>When the user installs your style, Stylish will record the install keys of the settings and options the user chose. If you subsequently delete or rename install keys, anyone who chose the options with those install keys will not be update the style. Changing labels or values, reordering settings and options, and adding new options will still allow users to update.</p>

<p>In other words, try to maintain your install keys when you change your style, if possible.</p>


<h2 id="format">Format of style descriptions</h2>

<p>Some HTML is allowed in style descriptions. You can use these tags, with allowed attributes in parentheses: a (href), abbr (title), b, blockquote (cite), br, cite, code, dd, dfn (title), dl, dt, em, i, kbd, li, mark, ol, p, pre, q (cite), s, samp, small, strike, strong, sub, sup, time (datetime, pubdate), u, ul, var.</p>

<p>Additionally, you can create links automatically by:</p>

<ul>
	<li>Writing "style 1" (without quotes) - will create a link to the style with ID 1.</li>
	<li>Writing "user 1" (without quotes) - will create a link to the user with ID 1.</li>
	<li>Writing a URL - will create a link to that URL.</li>
</ul>


<h2 id="screenshots-doc">Screenshots</h2>

<p>Screenshots are an important way to show to others what your style does. There are two ways to specify a screenshot.</p>

<h3>Automatic screenshots</h3>

<p>Automatically generating screenshots is recommended for styles that affect webpages in a way that is very obvious visually. The screenshot will consist of the first screenful of the page.</p>

<p>The URL visited to generate the screenshot will be determined based on the @-moz-document rules in the CSS. This URL will not always be a valid URL for the site. You can specify a different URL by providing an example URL on the edit page. The URL must be accessible from North America. The URL must not require a login, except for Facebook, GMail, Tumblr, and Orkut (a test account will be used with these services).</p>

<p>Generating the screenshot will take a few days. The screenshot will be periodically updated by the site.</p>

<h3>Manual screenshots</h3>

<p>Providing your own screenshot is recommended for cases where automatic screenshots are not suitable. These include subtle changes, changes to sites that require logins, changes to sites that are not visible in the first screenful, and changes to the Firefox UI.</p>
