<p>Stylish for Chrome stores your styles in a database file on your computer to work. If it can't open this database file, it can't work, and will ask you "An error has occurred using the Stylish database. Would you like to visit a web page with possible solutions?".</p>

<ol>
	<li>Find your Chrome profile folder - type in about:version in Chrome, then look at "Profile Path".</li>
	<li>Browse to this path with your OS's file browser.</li>
	<li>Open the "databases" folder, then the "chrome-extension_fkcllfpkdjkihkdjkaihobkbbebkcdlf_0" folder. The database will be in this folder, with a file name like "1" or "2".</li>
	<li>Close Chrome.</li>
</ol>

<p>Some users have reported Chrome has made this file read-only after an update. You can check to make sure the file is writable. The steps to do so depends on your OS, but generally involves right-clicking on the file and choosing "Properties". If the file is read-only, set it to read-write and start Chrome.</p>

<p>If the file was already writable, or if you still have problems, you can delete it (after backing it up if you wish). You will lose any previously installed styles. Make sure Chrome is not running when you do so. When you restart Chrome, Stylish will create a new, empty database file and will be functional once again.</p>

<p>If you need further help, <a href="http://forum.userstyles.org">ask in the forum</a>.</p>

<div id="misc-bottom-ad" class="ad">
	<div class="ad-note"><span>Advertisement</span></div>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- Miscellaneous pages bottom responsive -->
	<ins class="adsbygoogle"
		 style="display:block"
		 data-ad-client="ca-pub-2247465624637408"
		 data-ad-slot="5047584116"
		 data-ad-format="auto"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
</div>
