<ul>
	<li><a href="/help/stylish">Installing and using Stylish</a></li>
	<li><a href="https://github.com/JasonBarnabe/stylish/wiki">Writing user styles</a></li>
	<li><a href="/help/userstylesorg">Using userstyles.org</a></li>
	<li><a href="/help/coding">Posting styles to userstyles.org</a></li>
	<li><a href="/help/other">Other info</a></li>
</ul>

<p>If that doesn't help, try the <a href="http://forum.userstyles.org">forum</a>.</p>

<div id="misc-bottom-ad" class="ad">
	<div class="ad-note"><span>Advertisement</span></div>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- Miscellaneous pages bottom responsive -->
	<ins class="adsbygoogle"
		 style="display:block"
		 data-ad-client="ca-pub-2247465624637408"
		 data-ad-slot="5047584116"
		 data-ad-format="auto"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
</div>
