<ul>
	<li><a href="/help/stylish">Installing and using Stylish</a></li>
	<li><a href="https://github.com/JasonBarnabe/stylish/wiki">Writing user styles</a></li>
	<li><a href="/help/userstylesorg">Using userstyles.org</a></li>
	<li><a href="/help/coding">Posting styles to userstyles.org</a></li>
	<li><a href="/help/other">Other info</a></li>
</ul>

<p>If that doesn't help, try the <a href="http://forum.userstyles.org">forum</a>.</p>
