<p>This is a quick video tutorial of Stylish for Firefox's basic features. A textual version of the same information, along with some more detailed topics, are covered below the video. For additional help, <a href="https://forum.userstyles.org">visit the forum</a>.</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/npORY_HnRL8?rel=0" frameborder="0" allowfullscreen></iframe>

<h3>Installation</h3>

<ol>
	<li>Go to the <a href="https://chrome.google.com/webstore/detail/fjnbnpbmkenffdnngjfgmeleoegfcffe">Stylish for Chrome install page</a>.</li>
	<li>Click Add to Chrome.</li>
	<li>Click Add on the confirmation dialog.</li>
</ol>

<h3>Installing styles</h3>

<p>Find a style you like on the site. Click Install with Stylish in the green box. (If you don't see that button, the style isn't available for Chrome. Sorry.). Click OK on the prompt. That's it, the style is installed and active.</p>

<p>User styles only take effect on your computer; others can't see what you've changed unless they also use the same user style.</p>

<h3>Managing styles</h3>

<p>To activate, deactivate, edit, and remove styles, you can use the Manage screen. Click the Chrome settings icon (three lines), Tools, Extensions, click the Options link for the Stylish entry.</p>

<h3>Removed style but it's still applied?</h3>

<p>User <em>styles</em> can also be installed as user <em>scripts</em> in Chrome. User scripts appear in Chrome's Extensions page. If you've removed a style from Stylish but it still appears active, check to see if you've installed it as a user script in by clicking the Chrome settings icon (three lines), Tools, Extensions.</p>

<h3>Uninstallation</h3>

<p>Stylish can be removed <a href="https://support.google.com/chrome_webstore/answer/2664769">like any other extension</a>. To keep Stylish but remove individual styles, see "Managing styles" above.</p>

<h3>Stylish toolbar button</h3>

<p>Stylish will install a toolbar button after installation to provide quick access to Stylish functions. This button can be hidden by right-clicking it and choosing "Hide button". To restore the button, click the Chrome settings icon (three lines), Tools, Extensions, and press "Show button" for the Stylish icon.</p>

<h3>"An error has occurred using the Stylish database. Would you like to visit a web page with possible solutions?"</h3>

<p><a href="/help/db_chrome">See here</a>.</p>

<div id="misc-bottom-ad" class="ad">
	<div class="ad-note"><span>Advertisement</span></div>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- Miscellaneous pages bottom responsive -->
	<ins class="adsbygoogle"
		 style="display:block"
		 data-ad-client="ca-pub-2247465624637408"
		 data-ad-slot="5047584116"
		 data-ad-format="auto"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
</div>
