<p>Stylish is available for Firefox (and other Mozilla programs) and Chrome. If you don't have either of those browsers, I suggest <a href="https://affiliates.mozilla.org/link/banner/12921/2/6">Firefox</a>.</p>

<div style="display: inline-block;margin: 2em; text-align: center;"><a href="stylish_firefox"><img src="<%=STATIC_DOMAIN%>/images/firefox.png" alt=""><br>Help with Stylish for <em>Firefox</em>.</a></div>

<div style="display: inline-block;margin: 2em; text-align: center;"><a href="stylish_chrome"><img src="<%=STATIC_DOMAIN%>/images/chrome.png" alt=""><br>Help with Stylish for <em>Chrome</em>.</a></div>

<div id="misc-bottom-ad" class="ad">
	<div class="ad-note"><span>Advertisement</span></div>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- Miscellaneous pages bottom responsive -->
	<ins class="adsbygoogle"
		 style="display:block"
		 data-ad-client="ca-pub-2247465624637408"
		 data-ad-slot="5047584116"
		 data-ad-format="auto"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
</div>
