<p>Stylish is available for Firefox (and other Mozilla programs) and Chrome. If you don't have either of those browsers, I suggest <a href="https://affiliates.mozilla.org/link/banner/12921/2/6">Firefox</a>.</p>

<div style="display: inline-block;margin: 2em; text-align: center;"><a href="stylish_firefox"><img src="<%=STATIC_DOMAIN%>/images/firefox.png" alt=""><br>Help with Stylish for <em>Firefox</em>.</a></div>

<div style="display: inline-block;margin: 2em; text-align: center;"><a href="stylish_chrome"><img src="<%=STATIC_DOMAIN%>/images/chrome.png" alt=""><br>Help with Stylish for <em>Chrome</em>.</a></div>

