<p>userstyles.org (the site you're on, if you haven't noticed) is the largest collection of user styles.</p>

<h2>Style categorization</h2>

<p>Styles can be one of three categories: site styles, which affect certain sites; global styles, which affect all sites; or app styles, which affect the interface of Firefox and other Mozilla apps.</p>

<p>Site styles are subcategorized based on the site they affect.</p>


<h2>Searching</h2>

<p>You can use search terms, or URLs, or a combination when searching. URLs will limit the results to styles that affect that URL. For example, searching for "google.com black" will give you all styles that can affect Google that include the word "black" in the description.</p>

<p>For advanced searches, you can use <a href="http://sphinxsearch.com/docs/current.html#extended-syntax">these operators</a>. Clicking "Show options" in the search box lets you change various settings for your search results.</p>


<h2>Installing styles</h2>

<p>Each style page will have a box giving you the options to install for your browser. The recommended way to install styles is with <%=link_to 'Stylish', :action => 'stylish'%>.</p>


<h2>Leaving feedback</h2>

<p>You can leave feedback on a style at the bottom of the style's page. This is the best way for getting heard by the author of the style. You can optionally give the style a rating, which will affect how high the style appears in search results. You need to create an account to leave feedback.</p>

<p>If you have a comment about userstyles.org itself (not about an individual style) or about Stylish, you can mail me at <a href="mailto:jason.barnabe@gmail.com">jason.barnabe@gmail.com</a> or <a href="http://forum.userstyles.org/messages/add/Jason%20Barnabe%20%28np%29">send me a private message on the forum</a>.</p>
