.bundle
db/*.sqlite3
log/
tmp/
config/initializers/secret_token.rb
config/database.yml
config/*.sphinx.conf
public/auto_style_screenshots/
public/style_screenshots
public/style_screenshot_thumbnails
public/auto_style_screenshots
config/initializers/password_salt.rb
config/initializers/vanilla.rb
config/initializers/omniauth.rb
db/sphinx
db/cstore
config/initializers/jerks.rb
.ruby-gemset
.ruby-version
.DS_Store
