.bundle
db/*.sqlite3
log/
tmp/
db
config/initializers/secret_token.rb
config/database.yml
config/*.sphinx.conf
public/auto_style_screenshots/
public/style_screenshots
public/style_screenshot_thumbnails
public/auto_style_screenshots
config/initializers/password_salt.rb
