body {
	margin:0;
	border-top:8px solid #000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
#container {
	float:left; width:1095px; padding:22px 0 0 26px;
}
.logo {
	width:159px; height:159px; float:left; 
}
.logo h1 {
	background-image:url(../images/logo.gif); margin:0; padding:0;
	width:159px; height:159px; float:left;
}
.logo h1 a {
	 text-indent:-1000em; display:block;
	 width:159px; height:159px;
}
.logo h2 {
	width:135px; color:#1a1a1a; font-size:17px;
	margin:0; padding:12px 0 0 0; float:left;
}
.logo p {
	float:left; width:140px; color:#e66856; margin-top:28px;
}
.logo p a {
	 color:#e66856;
}
.main {
	float:left; width:932px; 
}
.header {
	float:left; width:528px; padding:0 0 0 140px;
}
.header h1 {
	 width:515px; font-size:27px; margin:0; padding:0;
	 font-weight:normal;
}
.header h2 {
	 width:470px; font-size:14px; margin:0; padding:0;
	 font-weight:normal; color:#e66856;
}
.header h2 a {
	 color:#e66856; text-decoration:underline;
}
.blue-bx {
	float:left; width:829px; height:378px; margin-top:14px;
	background-image:url(../images/box.png); padding-left:103px; 
}
.blue-bx h3 {
	 width:670px; font-size:24px; margin:0; padding:3px 0 0 42px;
	 color:#e66856;
}
.grdn {
	float:left; width:221px; height:129px;
	margin:70px 5px 0 0; 
}
.stick {
	float:left; width:30px; height:30px; background-image:url(../images/download.jpg);  margin:13px 0 50px 0;
}
.comp {
	float:left; width:33px; height:33px; background-image:url(../images/download.jpg); background-position:left bottom; margin:12px 0 50px 0;
}
.art {
	float:left; width:36px; height:39px; background-image:url(../images/download.jpg); background-position:right top; margin:13px 0 50px 0;
}
.download {
	float:left; width:141px; height:22px; background-image:url(../images/download.jpg); background-position:right bottom; margin-top:12px; 
}
.download a {
	float:left; width:141px; height:22px; text-indent:-1000em; display:block; 
}
.grdn h3 {
	 width:155px; font-size:14px; margin:0; padding:14px 0 0 6px;
	 font-weight:normal; color:#000; float:left;
}
.grdn p {
	 width:177px; font-size:11px; margin:0; padding:11px 0 0 6px;
	 font-weight:normal; color:#666666; float:left; text-decoration:underline;
}
.thank-bx {
	float:left; width:858px; padding:20px 0 0 47px;
}
.thank-bx h2 {
	 width:255px; font-size:17px; margin:0; padding:0 0 7px 54px;
	  color:#82bf40; float:left;
}
.gry-cl {
	float:left; width:803px; background-color:#e6f2f2;
	padding-left:55px; margin-bottom:25px; padding-bottom: 10px;
}
.you-txt {
	 width:655px;  margin:0; padding:12px 0 0 0; float:left;
}
.fac-bx {
	 width:195px; height:120px; padding:12px 60px 0 0; float:left;
}
.fac-im {
	 width:114px; height:77px; padding:0 0 0 0; float:left;
}
.fac-txt {
	 width:175px;  margin:0; padding:12px 0 0 0; float:left; color:#e66856;
	 text-decoration:underline;
}
.fac-txt a {
	 color:#e66856;
	 text-decoration:underline;
}
.fac-im2 {
	 width:148px; height:77px; float:left;
}
.fac-im3 {
	 width:138px; height:77px;  float:left;
}
.start-txt {
	 width:655px;  margin:0; padding:25px 0 0 0; float:left; font-size:14px; color:#e66856
}
.start-txt a {
 	color:#e66856;
	}
.after-txt {
	 width:670px;  margin:0; padding:12px 0 0 0; float:left; line-height:18px; 
}
.after-txt a {
	color:#e66856; text-decoration:underline;
}




