header, article, nav, section, footer, figure { 
	display: block;
}
body {
	font-family: Verdana, sans-serif;
	font-size: smaller;
  max-width: 980px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
body > footer {
	clear: both;
}
pre {
	border: 1px dashed black;
	background-color: #f9f9f9;
	padding: 10px;
	overflow: auto;
}
code {
	font-family: monospace;
}
a img {
	border: 0;
}
a {
	color: #224375;
}
a:hover {
	color: #5273A5;
}
a:visited {
	color: #9043CC;
}
a:visited:hover {
	color: #A063EC;
}

#content-wrapper {
	float: left;
	width: 100%;
}
#main-article {
	margin-left: 190px;
}
#main-header {
	font-family: Trebuchet MS;
	background-color: #FFEC8B;
	padding: 5px;
	margin-bottom: 10px;
	margin-left: 5px;
	border-radius: 5px;
}
#main-header > h1 {
	padding: 0;
	margin: 0;
}
#main-article footer {
	margin-bottom: 10px;
}
#left-info {
	float: left;
	width: 362px;
}
#screenshots {
	margin-bottom: 10px;
	border: 1px solid #DDD;
	padding: 5px;
	border-radius: 5px;
	min-height: 100px;
}
#left-info {
	padding-bottom: 10px;
}
#screenshots ul {
	margin: 0;
	list-style-type: none;
	padding-left: 2em;
}
#style-info {
	padding: 0;
}
#main-style-info {
	padding-left: 1em;
	margin-left: 360px;
	margin-bottom: 1em;
}
.screenshot-thumbnail {
	margin: 0;
	text-align: center;
	max-height: 265px;
	overflow-y: hidden;
}
.screenshot-thumbnail img {
	vertical-align: bottom;
	max-width: 350px;
}
#more-screenshots span {
	font-weight: bold;
}
.no-screenshots {
	margin-top: 35px;
	color: gray;
	text-align: center;
}
#outerImageContainer, #imageDataContainer {
	min-width: 86px;
}
section, article > .in-section-ad {
	padding: 15px 0 10px 20px;
}
section > h2 {
	margin-left: -20px;
	font-style: italic;
	margin-top: 0;
}
.install-status {
	font-size: larger;
	padding: 8px 16px 12px 16px;
	border-radius: 5px;
	color: white;
	vertical-align: middle;
	margin-top: 15px;
	margin-bottom: 1px;
	display: inline-block; /* shrink wrap */
	max-width: 450px;
}
.install-status a, .install-status a:visited, .install-status a:active {
	color: white;
}
.install-status p {
	padding: 0;
	margin: 0.5em 0;
}
.install-note {
	font-size: smaller;
}
.install {
	background-color: rgb(72, 150, 21);
	background-image: -moz-linear-gradient(rgb(132, 198, 60), rgb(72, 150, 21));
	background-image: -webkit-linear-gradient(rgb(132, 198, 60), rgb(72, 150, 21)); 
	background-image: -o-linear-gradient(rgb(132, 198, 60), rgb(72, 150, 21)); 
	background-image: linear-gradient(rgb(132, 198, 60), rgb(72, 150, 21)); 
	cursor: pointer;
}
.install:hover {
	background-color: rgb(92, 170, 41);
	background-image: -moz-linear-gradient(rgb(152, 218, 80), rgb(92, 170, 41));
	background-image: -webkit-linear-gradient(rgb(152, 218, 80), rgb(92, 170, 41)); 
	background-image: -o-linear-gradient(rgb(152, 218, 80), rgb(92, 170, 41)); 
	background-image: linear-gradient(rgb(152, 218, 80), rgb(92, 170, 41)); 
}
.no-install {
	background-color: rgb(230, 62, 51);
	background-image: -moz-linear-gradient(rgb(230, 62, 51), rgb(200, 32, 21));
	background-image: -webkit-linear-gradient(rgb(230, 62, 51), rgb(200, 32, 21)); 
	background-image: -o-linear-gradient(rgb(230, 62, 51), rgb(200, 32, 21)); 
	background-image: linear-gradient(rgb(230, 62, 51), rgb(200, 32, 21)); 
	cursor: default;
}
.install-info {
	background-color: blue;
	background-image: -moz-linear-gradient(rgb(0, 139, 199), rgb(0, 100, 170));
	background-image: -webkit-linear-gradient(rgb(0, 139, 199), rgb(0, 100, 170));
	background-image: -o-linear-gradient(rgb(0, 139, 199), rgb(0, 100, 170));
	background-image: linear-gradient(rgb(0, 139, 199), rgb(0, 100, 170));
	cursor: default;
}
.install-symbol {
	font-size: larger;
	font-weight: bold;
}
#more-info, #below-install-ad {
	clear: both;
}
#below-install-ad {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}
#info-tables {
	clear: left;
}
#style-author-info {
	margin-left: 15px;
	margin-right: 3em;
}
#style-author-info, #style-install-info {
	display: inline-block;
	vertical-align: top;
}
#style-author-info th, #style-install-info th {
	text-align: left;
	padding-right: 10px;
}
#additional-info-text {
	max-height: 20em;
	overflow-y: auto;
}
body > footer {
	font-size: x-small;
}
#switch-browser-note {
	opacity: 0.5;
}
#switch-browser-note, #switch-browser-note select {
	font-size: xx-small;
}
#left-sidebar {
	float: left;
	width: 180px;
	margin-left: -100%;
}
#left-sidebar nav {
	margin-top: 0;
}
#left-sidebar h2 {
	margin: 0;
	font-size: small;
}
#left-sidebar ul {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}
#left-sidebar li {
	display: block;
	margin-bottom: 2px;
}
#left-sidebar > * {
	background-color: #D1EEEE;
	border-radius: 5px;
	margin: 5px;
	padding: 5px;
}
#search-terms {
	width: 125px;
	float: left;
}
.advanced-search-active #search-terms {
	width: 95%;
	float: none;
}
#search-submit {
	margin-left: 0;
	margin-right: 0;
	padding-left: 1px;
	padding-right: 1px;
	float: right;
}
#simple-search > * {
	margin-bottom: 0;
}
#advanced-search {
	display: none;
	clear: both;
	font-size: smaller;
	border-bottom: 1px solid gray;
	margin-bottom: 3px;
	padding-bottom: 3px;
}
.advanced-search-active #advanced-search {
	display: block;
}
#advanced-search select {
	margin: 0;
	font-size: smaller;
}
#advanced-search-submit {
	text-align: right;
}
#show-advanced-search {
	text-decoration: underline;
	cursor: pointer;
	font-size: xx-small;
	text-align: right;
	float: right;
	clear: both;
}
.advanced-search-active #show-advanced-search, .advanced-search-active #search-submit {
	display: none;
}

.form-controls > tbody > tr > th {
	text-align: right;
	white-space: nowrap;
	vertical-align: top;
	padding-right: 1em;
}
.form-controls label {
	font-weight: bold;
}
table.form-controls, .form-controls > tbody > tr > td, textarea  {
	width: 100%;
}
.form-controls > tbody > tr > td {
	padding-bottom: 1em;
}
.form-controls td > p:first-child {
	margin-top: 0;
}
div.form-controls {
	margin-bottom: 2em;
}
textarea#css {
	font-family: monospace;
	height: 20em;
}
.inline-form {
	display: inline;
}
section#obsoletion-message {
	background-color: #FF6347;
	border-radius: 3px;
	margin-bottom: 5px;
}
section#obsoletion-message > h2 {
	margin-left: auto;
}
.obsolete a, .obsolete a * {
	text-decoration: line-through;
}
.obsolete .style-brief-control-links a {
	text-decoration: underline;
}
#donate, #donate input {
	display: inline;
}
#donate input {
	vertical-align: bottom;
}
.bug-fixed {
	text-decoration: line-through;	
}
#after-screenshot-entry div * {
	vertical-align: middle;
}
#stylish-install, #stylish-update, #stylish-not-installed-ie {
	display: none;
}
#hidden-meta {
	display: none;
}
.how-to-use {
	font-size: smaller;
}
#delete-comment-button, #submit-comment-button {
	float: right;
	margin-bottom: 0.5em;
	margin-left: 0.5em;
}
#delete-comment {
	margin: 0 1em;
}
label.rating {
	border-width: 1px;
	border-style: solid;
	border-color: #DDD;
	border-radius: 2px;
	-moz-border-radius: 5px;
	padding: 5px;
}
label.rating:hover {
	background-color: #FF7;
}
#style-comments li {
	clear: both;
}
.linking-note {
	font-size: x-small;
	margin: 0;
	font-style: italic;
}
#account-link {
	color: white;
	margin-right: 1em;
}
#account-link a {
	color: inherit;
}
.data-table {
	border-collapse: collapse;
}
.data-table th, .data-table td {
	vertical-align: top;
	border: 1px solid black;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
#google-ad-area {
	margin-top: 1em;
	width: 728px;
	height: 90px;
	border: 0;
	clear: left;
}
.two-column td {
	vertical-align: top;
}
.error {
	font-weight: bold;
}
#view-my-comment {
	display: none;
}
.stars {
	white-space: nowrap;
}
.enter-comment {
	clear: both;
}
#install-options caption {
	margin-top: 1.5em;
	margin-bottom: 0.3em;
	text-align: left;
}
#install-options td {
	max-width: 200px;
}
#show-button {
	display: none;
}
#show-code pre {
	margin-top: 0;
}
#view-code {
	display: none;
}
.popular {
	font-weight: bolder;
}
#paypal-donate-by-name {
	margin-top: 2px;
}
#paypal-donate-by-feedback {
	display: inline;
	vertical-align: top;
}
#reviews {
	padding-left: 2em;
}
.category-style-top {
	float: left;
	width: 45%;
}
.post-your-style {
	clear: both;
}
.ad {
	margin-top: 1em;
}
.ad + .pagination {
	margin-top: 1em;
}
.ad-note {
	font-weight: bold;
	font-size: x-small;
}
.ad-note span {
	background-color: #EEEED2;
	padding: 2px;
	border-radius: 7px 7px 0 0;
}
#left-sidebar .ad {
	background-color: transparent;
}
#advert_iframe {
	float: right;
}
#control-panel {
	display: none;
	margin-bottom: 1em;
}
.paypal-donate-image {
	width: 110px;
	height: 23px;
}
.all-link {
	clear: both;
}
.post-your-style {
	text-align: right;
}
#rating-controls .fieldWithErrors {
	display: inline;
}
#page-description {
	margin-top: 1em;
}

#login-options {
	max-width: 500px;
}
#login .btn-auth {
	font-weight: bold;
	margin-top: 4px;
}
a.btn-auth:visited {
	color: #222;
}
a.btn-facebook:visited, a.btn-google:visited {
	color: white;
}
a.btn-twitter:visited {
	color: #327695;
}
.btn-password:hover,
.btn-password:focus {
    border-color: #777;
    background: #fcfcfc;
}
.btn-password:active {
    background: #f5f5f5;
}
.login-option-explanation {
	font-weight: bold;
}
.login-navigation {
	font-size: x-small;
	margin-left: 1em;
}

#post-discussion iframe {
	width: 100%;
	height: 50em;
}
#discussions .good-rating {
	list-style-image: url(/images/good.gif);
}
#discussions .bad-rating {
	list-style-image: url(/images/bad.gif);
}
#discussions .ok-rating {
	list-style-image: url(/images/ok.png);
}
#discussions .no-rating {
	list-style-image: url(/images/question.png);
}
#search-options {
	font-size: smaller;
}
#edit-style-settings textarea {
	width: 40em;
}
#edit-style-settings, #edit-style-settings ul {
	list-style-type: none;
}
.edit-color-setting input:not([type]) {
	width: 200px;
}
#style-options ul {
	list-style-type: none;
	padding-left: 20px;
}
#style-options select {
	max-width: 25em;
}

#front-page-best, #front-page-newest {
/*	float: left;*/
	display: inline-block;
	max-width: 45%;
	vertical-align: top;
}
.more {
	font-size: smaller;
	border-top: 1px solid #92B3E5;
	margin-top: 8px;
	padding-top:4px;
}
.more ~ .more {
	border-top:none;
	margin-top:0;
	padding-top:0;
}
#related {
	overflow: hidden;
}
.listing-left-info {
	float: left;
	width: 350px;
	min-height: 100px;
}
.listing-no-screenshot {
	background-color: #EEE;
	border-radius: 5px;
}
.style-brief {
	margin-bottom: 2em;
}
.style-brief header {
	font-size: larger;
}
.style-brief-text {
	margin-left: 360px;
}
.style-brief-text > a, .style-brief-text > a:visited, .style-brief-text > a:active {
	color: black;
	text-decoration: none;
}
#search select {
	font-size: inherit;
}
.style-brief-control-links {
	display: none;
}
.by-current-user .style-brief-control-links {
	display: block;
}
.style-brief-stats {
	font-size: smaller;
}
.style-brief-stats span {
	display: inline-block;
	min-width: 16em;
}
.style-brief-text .style-brief-stats span:last-child {
	min-width: auto;
}
.numeric-value {
	text-align: right;
}
.date-value, .image-value {
	text-align: center;
}
#social {
	height: 27px;
}
#social.listing {
	margin-bottom: 1em;
}
.fb-like {
	width: 140px;
	height: 24px;
	display: inline-block;
	overflow-x: hidden;
	vertical-align: bottom;
}
.notice {
	background-color: yellow;
	padding: 0.3em;
}
.style-warning {
	background-color: #FFFF66;
}
#post-install-ad {
	margin-top: 1em;
}
.style-warnings {
	display: none;
}
.style-warning-icon {
	vertical-align: bottom;
	cursor: pointer;
}
#add-review {
	border: 0;
}
.errorExplanation {
	padding: 0.5em;
	background-color: #F88;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
.errorExplanation li {
	white-space: pre-wrap;
}
.notice {
	background-color: #FF6;
}
.deletion-reason {
	color: red;
}

.style1 {font-size: 16px;color: #CCFFFF;}
.install-bg {position : absolute;width : 100%;height: 1500px;z-index: 1000;top: 0px; left: 0px; opacity: 0; background-color : #000000; }
.install-bag {position : absolute;width : 100%;z-index: 1001;top: 0px;left:0px; }
.install-img {float:right; opacity: 0; margin-right:10px; margin-top:10px; }

/* --------- Lightbox */
#lightbox{	position: absolute;	left: 0; width: 100%; z-index: 100; text-align: center; line-height: 0;}
#lightbox img{ width: auto; height: auto;}
#lightbox a img{ border: none; }

#outerImageContainer{ position: relative; background-color: #fff; width: 250px; height: 250px; margin: 0 auto; }
#imageContainer{ padding: 10px; }

#loading{ position: absolute; top: 40%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0; }
#hoverNav{ position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10; }
#imageContainer>#hoverNav{ left: 0;}
#hoverNav a{ outline: none;}

#prevLink, #nextLink{ width: 49%; height: 100%; background-image: url(data:image/gif;base64,AAAA); /* Trick IE into showing hover */ display: block; }
#prevLink { left: 0; float: left;}
#nextLink { right: 0; float: right;}
#prevLink:hover, #prevLink:visited:hover { background: url(../images/prevlabel.gif) left 15% no-repeat; }
#nextLink:hover, #nextLink:visited:hover { background: url(../images/nextlabel.gif) right 15% no-repeat; }

#imageDataContainer{ font: 10px Verdana, Helvetica, sans-serif; background-color: #fff; margin: 0 auto; line-height: 1.4em; overflow: auto; width: 100%	; }

#imageData{	padding:0 10px; color: #666; }
#imageData #imageDetails{ width: 70%; float: left; text-align: left; }	
#imageData #caption{ font-weight: bold;	}
#imageData #numberDisplay{ display: block; clear: left; padding-bottom: 1.0em;	}			
#imageData #bottomNavClose{ width: 66px; float: right;  padding-bottom: 0.7em; outline: none;}	 	

#overlay{ position: absolute; top: 0; left: 0; z-index: 90; width: 100%; height: 500px; background-color: #000; }


/*
 * Button Object
 */

/*
 * 1. Corrects inability to style clickable 'input' types in iOS
 * 2. Remove excess padding in IE6/7
 * 3. IE6/7 inline-block hack for native block-level elements
 */

.btn-auth {
    position: relative;
    display: inline-block;
    height: 22px;
    padding: 0 1em;
    border: 1px solid #999;
    border-radius: 2px;
    margin: 0;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    line-height: 22px;
    white-space: nowrap;
    cursor: pointer;
    color: #222;
    background: #fff;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    /* iOS */
    -webkit-appearance: none; /* 1 */
    /* IE6/7 hacks */
    *overflow: visible;  /* 2 */
    *display: inline; /* 3 */
    *zoom: 1; /* 3 */
}

.btn-auth:hover,
.btn-auth:focus,
.btn-auth:active {
    color: #222;
    text-decoration: none;
}

.btn-auth:before {
    content: "";
    float: left;
    width: 22px;
    height: 22px;
    background: url(../images/auth-icons.png) no-repeat 99px 99px;
}

/*
 * 36px
 */

.btn-auth.large {
    height: 36px;
    line-height: 36px;
    font-size: 20px;
}

.btn-auth.large:before {
    width: 36px;
    height: 36px;
}

/*
 * Remove excess padding and border in FF3+
 */

.btn-auth::-moz-focus-inner {
    border: 0;
    padding: 0;
}


/* Facebook (extends .btn-auth)
   ========================================================================== */

.btn-facebook {
    border-color: #29447e;
    border-bottom-color: #1a356e;
    color: #fff;
    background-color: #5872a7;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#637bad), to(#5872a7));
    background-image: -webkit-linear-gradient(#637bad, #5872a7);
    background-image: -moz-linear-gradient(#637bad, #5872a7);
    background-image: -ms-linear-gradient(#637bad, #5872a7);
    background-image: -o-linear-gradient(#637bad, #5872a7);
    background-image: linear-gradient(#637bad, #5872a7);
    -webkit-box-shadow: inset 0 1px 0 #879ac0;
    box-shadow: inset 0 1px 0 #879ac0;
}

.btn-facebook:hover,
.btn-facebook:focus {
    color: #fff;
    background-color: #3b5998;
}

.btn-facebook:active {
    color: #fff;
    background: #4f6aa3;
    -webkit-box-shadow: inset 0 1px 0 #45619d;
    box-shadow: inset 0 1px 0 #45619d;
}

/*
 * Icon
 */

.btn-facebook:before {
    border-right: 1px solid #465f94;
    margin: 0 1em 0 -1em;
    background-position: 0 0;
}

.btn-facebook.large:before {
    background-position: 0 -22px;
}


/* GitHub
   ========================================================================== */

.btn-github {
    border-color: #d4d4d4;
    background: #ececec;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
    background-image: -webkit-linear-gradient(#f4f4f4, #ececec);
    background-image: -moz-linear-gradient(#f4f4f4, #ececec);
    background-image: -ms-linear-gradient(#f4f4f4, #ececec);
    background-image: -o-linear-gradient(#f4f4f4, #ececec);
    background-image: linear-gradient(#f4f4f4, #ececec);
}

.btn-github:hover,
.btn-github:focus {
    border-color: #518cc6;
    border-bottom-color: #2a65a0;
    color: #fff;
    background-color: #599bdc;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
    background-image: -webkit-linear-gradient(#599bdc, #3072b3);
    background-image: -moz-linear-gradient(#599bdc, #3072b3);
    background-image: -ms-linear-gradient(#599bdc, #3072b3);
    background-image: -o-linear-gradient(#599bdc, #3072b3);
    background-image: linear-gradient(#599bdc, #3072b3);
}

.btn-github:active {
    border-color: #2A65A0;
    border-bottom-color: #518CC6;
    color: #fff;
    background: #3072B3;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#3072b3), to(#599bdc));
    background: -webkit-linear-gradient(#3072b3, #599bdc);
    background: -moz-linear-gradient(#3072b3, #599bdc);
    background: -ms-linear-gradient(#3072b3, #599bdc);
    background: -o-linear-gradient(#3072b3, #599bdc);
    background: linear-gradient(#3072b3, #599bdc);
}

/*
 * Icon
 */

.btn-github:before {
    margin: 0 0.6em 0 -0.6em;
    background-position: -44px 0;
}

.btn-github:hover:before,
.btn-github:focus:before,
.btn-github:active:before {
    background-position: -66px 0;
}

.btn-github.large:before {
    background-position: -72px -22px;
}

.btn-github.large:hover:before,
.btn-github.large:focus:before,
.btn-github.large:active:before {
    background-position: -108px -22px;
}


/* Google
   ========================================================================== */

.btn-google {
    border-color: #3079ed;
    color: #fff;
    background: #4787ed;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4d90fe), to(#4787ed));
    background-image: -webkit-linear-gradient(#4d90fe, #4787ed);
    background-image: -moz-linear-gradient(#4d90fe, #4787ed);
    background-image: -ms-linear-gradient(#4d90fe, #4787ed);
    background-image: -o-linear-gradient(#4d90fe, #4787ed);
    background-image: linear-gradient(#4d90fe, #4787ed);
}

.btn-google:hover,
.btn-google:focus,
.btn-google:active {
    color: #fff;
    background-color: #357ae8;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4d90fe), to(#357ae8));
    background-image: -webkit-linear-gradient(#4d90fe, #357ae8);
    background-image: -moz-linear-gradient(#4d90fe, #357ae8);
    background-image: -ms-linear-gradient(#4d90fe, #357ae8);
    background-image: -o-linear-gradient(#4d90fe, #357ae8);
    background-image: linear-gradient(#4d90fe, #357ae8);
}

.btn-google:active {
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}

/*
 * Icon
 */

.btn-google:before {
    margin: 0 1em 0 -1em;
    background-position: -88px 0;
    background-color: #e6e6e6;
}

.btn-google.large:before {
    background-position: -144px -22px;
}


/* Open ID
   ========================================================================== */

.btn-openid:hover,
.btn-openid:focus {
    border-color: #777;
    background: #fcfcfc;
}

.btn-openid:active {
    background: #f5f5f5;
}

/*
 * Icon
 */

.btn-openid:before {
    margin: 0 0.6em 0 -0.6em;
    background-position: -154px 0;
}

.btn-openid.large:before {
    background-position: -252px -22px;
}


/* Twitter
   ========================================================================== */

.btn-twitter {
    border-color: #a6cde6;
    color: #327695;
    background: #cfe4f0;
    /* css3 */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f1f5f7), to(rgba(255,255,255,0)));
    background-image: -webkit-linear-gradient(#f1f5f7, rgba(255,255,255,0));
    background-image: -moz-linear-gradient(#f1f5f7, rgba(255,255,255,0));
    background-image: -ms-linear-gradient(#f1f5f7, rgba(255,255,255,0));
    background-image: -o-linear-gradient(#f1f5f7, rgba(255,255,255,0));
    background-image: linear-gradient(#f1f5f7, rgba(255,255,255,0));
    -webkit-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
}

.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active {
    color: #327695;    
    border-color: #8dc2e4;
    background-color: #cadde9;
}

.btn-twitter:active {
    background: #cadde9;
    -webkit-box-shadow: inset 0 1px 0 #bbd6e7;
    box-shadow: inset 0 1px 0 #bbd6e7;
}

/*
 * Icon
 */

.btn-twitter:before {
    margin: 0 0.6em 0 -0.6em;
    background-position: -22px 0;
}

.btn-twitter.large:before {
    background-position: -36px -22px;
}


/* Windows Live ID
   ========================================================================== */

.btn-windows:hover,
.btn-windows:focus {
    border-color: #777;
    background: #fcfcfc;
}

.btn-windows:active {
    background: #f5f5f5;
}

/*
 * Icon
 */

.btn-windows:before {
    margin: 0 0.6em 0 -0.6em;
    background-position: -110px 0;
}

.btn-windows.large:before {
    background-position: -180px -22px;
}


/* Yahoo!
   ========================================================================== */

.btn-yahoo {
    border-color: #ffb305;
    background: #ffc426;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255,255,255,0.5)), to(rgba(255,255,255,0)));
    background-image: -webkit-linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0));
    background-image: -moz-linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0));
    background-image: -ms-linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0));
    background-image: -o-linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0));
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0));
}

.btn-yahoo:hover,
.btn-yahoo:focus {
    background-color: #fabf20;
}

.btn-yahoo:active {
    border-color: #f09700;
    background-image: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.3);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.3);
}

/*
 * Icon
 */

.btn-yahoo:before {
    margin: 0 0.6em 0 -0.6em;
    background-position: -132px 0;
}

.btn-yahoo.large:before {
    background-position: -216px -22px;
}
