<p>Question? Have you tried reading <a href="/help">the help docs</a>?</p>

<p>Want to talk about a certain style? Keep in mind, I'm the <em>administrator</em> of the site. The vast majority of styles are not written by me. If you want to talk to the <em>author</em> of a certain style, click the link to start a new discussion from the style's page.</p>

<p>Want some CSS help? I suggest you ask in the <a href="http://forum.userstyles.org">forum</a>, where the whole userstyles.org community can help you.</p>

<p>Other than that, feel free to mail me at <a href="mailto:jason.barnabe@gmail.com">jason.barnabe@gmail.com</a> or <a href="http://forum.userstyles.org/messages/add/JasonBarnabe">send me a private message on the forum</a>.</p>
