<!DOCTYPE html>
<html>
<head>
<title>You've Installed Stylish</title>
<style>
body {
	font-family: Verdana, sans-serif;
}
.logo {
	margin-top: 1em;
	margin-left: 1em;
	float: left;
	font-size: smaller;
	min-height: 500px;
	margin-right: 2em;
}
.main {
	margin-right: 2em;
}
.main p {
	margin-bottom: 2em;
}
body {
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
}
.language {
	font-size: smaller;
}

.style1 {font-size: 16px;color: #CCFFFF;}
.install-bg {position : absolute;width : 100%;height: 1500px;z-index: 1000;top: 0px; left: 0px; opacity: 0; background-color : #000000; }
.install-bag {position : absolute;width : 100%;z-index: 1001;top: 0px; }
.install-img {float:right; opacity: 0; margin-right:10px; margin-top:10px; }
</style>
</head>

<body>
	<div class="logo">
    	 <a href="/"><img src="<%=STATIC_DOMAIN%>/images/159.png"></a><br>
         Restyle the web with Stylish!<br>
         <p> <a href="/">userstyles.org home »</a></p>
	</div>

	<h1><strong>Congratulations</strong>, you've installed Stylish!</h1>

	<p>Maybe you want to watch a tutorial screencast or read <a href="/help">the help docs</a>?</p>

	<iframe width="560" height="315" src="http://www.youtube.com/embed/pQb0RZE6KM8?rel=0" frameborder="0" allowfullscreen></iframe>

	<p style="margin-top: 2em">Or jump right in with styles like <%=link_to h(@best[0].short_description), @best[0]%>, <%=link_to h(@best[1].short_description), @best[1]%>, and <%=link_to h(@best[2].short_description), @best[2]%>. <a href="/categories">Start browsing the site to find other styles.</a></p>

	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-8246384-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script');
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		ga.setAttribute('async', 'true');
		document.documentElement.firstChild.appendChild(ga);
	  })();
	</script>
</body>
</html>
