<div class="ad">
	<a href="https://store.uniblue.com/278/cookie?affiliate=7637&redirectto=http%3a%2f%2fwww.uniblue.com%2fcm%2fgeneral%2fregistrycleanerkit%2frckunit%2fdownload%2f"><img src="<%=asset_path 'ads/affiliate-rck3steps-300x250.jpg'%>" width="300" height="250"></a>
</div>
