<%= render :partial => 'styles/social', :locals => {:classe => 'listing'} %>

<% if @styles.empty?%>
	<p>No styles found. Try <a href="/styles/browse">browsing from the top</a> or try a new search on the left.</p>

<% else %>

	<% if !@styles.empty? %>
		<%= will_paginate @styles %>
		<% content_for :link_rel_next_prev do %>
			<% if @styles.previous_page %>
				<link rel="prev" href="<%=url_for(params.merge(:page => @styles.previous_page, :only_path => false))%>">
			<% end %>
			<% if @styles.next_page %>
				<link rel="next" href="<%=url_for(params.merge(:page => @styles.next_page, :only_path => false))%>">
			<% end %>
		<% end %>
	<% end %>

<% end %>
