<%= render :partial => 'styles/social', :locals => {:classe => 'listing'} %>

<% if @styles.empty?%>
	<p>No styles found. Try <a href="/styles/browse">browsing from the top</a> or try a new search on the left.</p>

<% else %>
	
	<%= render :partial => 'listing', :collection => @styles, :as => :style%>

	<script>
		var user = getUserFromCookie();
		if (user != null) {
			var articles = document.getElementsByTagName("article");
			for (var i = 0; i < articles.length; i++) {
				if (articles[i].className.indexOf("style-brief") > -1) {
					if (user == articles[i].getAttribute("author-id")) {
						articles[i].className += " by-current-user";
					}
				}
			}
		}
	</script>

	<% if @no_ads.nil? or !@no_ads %>
		<div class="ad" style="max-width: 100%; overflow: hidden">
			<% if true %>
				<div class="ad-note"><span>Advertisement</span></div>
				<script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<ins class="adsbygoogle"
					 style="display:inline-block;width:728px;height:90px"
					 data-ad-client="ca-pub-2247465624637408"
					 data-ad-slot="5085099206"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			<% else %>
				<div style="display: inline-block">
					<div class="ad-note"><span>Advertisement</span></div>
					<script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- Browse styles bottom square 1 -->
					<ins class="adsbygoogle"
						 style="display:inline-block;width:336px;height:280px"
						 data-ad-client="ca-pub-2247465624637408"
						 data-ad-slot="1174194115"></ins>
					<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</div>
				<div style="display: inline-block">
					<div class="ad-note"><span>Advertisement</span></div>
					<script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- Browse styles bottom square 2 -->
					<ins class="adsbygoogle"
						 style="display:inline-block;width:336px;height:280px"
						 data-ad-client="ca-pub-2247465624637408"
						 data-ad-slot="2650927313"></ins>
					<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</div>
			<% end %>
		</div>
	<% end %>

	<% if !@styles.empty? %>
		<%= will_paginate @styles %>
	<% end %>

<% end %>
