<script type="text/javascript" src="/javascripts/script.js"></script>

<div id="hidden-meta">
	<div id="stylish-description"><%=h @description%></div>
</div>

<div id="style-show">

<div id="show-code">
	<button id="show-button">Show code</button>
	<pre id="view-code"><code id="stylish-code"><%=h @code%></code></pre>
</div>

<h2>Install options</h2>

<%= render :partial => 'styles/install', :locals => {:style => nil} %>
</div>

