<%= form_tag(:action => "lost_password_start") do %>
	<p>Enter the e-mail address you used to sign up to reset your password. If you didn't provide an e-mail address when signing up, you're screwed.</p>
	<input name="email">
	<input type="submit" value="Submit">
<% end %>
