<p><h2>STYLISH PRIVACY POLICY</h2>
<br />
<i>[Last modified: November 24th, 2016]</i>
</p>

<p>
	This privacy policy ("<b>Privacy Policy</b>") governs the data collection practices by us ("<b>Company</b>", "<b>we</b>")
	while you use our site http://userstyles.org/ ("<b>Website</b>"), our Stylish browser add-on extension available <a target="_blank" href="https://chrome.google.com/webstore/detail/stylish/fjnbnpbmkenffdnngjfgmeleoegfcffe?hl=en">here</a>
	("<b>Stylish Extension</b>") and our Service.
</p>

<p>
	This Privacy Policy is an integrated part of the Company's Terms of Use (available at: userstyles.org/terms-of-use) ("<b>Terms of Use</b>") and is a legally binding
	agreement between you and the Company. The Privacy Policy and Terms of Use shall be binding upon any use or attempting to use our unique Service throughout the Website or Stylish Extension,
	including any portion thereof. Definitions herein shall have the same meaning as defined in the Terms of Use.
</p>

<p>
	Stylish is part of large community of users and developers that wish to personalize the browsing experience by creating customized Web Styles,
	uploading and sharing them with other users solely for personal non-commercial use ("<b>Stylish Community</b>"). The Company respects its users’ privacy and
	makes every effort to provide a Service in highest standards. This Privacy Policy provides important and transparent disclosures on <b>how</b> or <b>why</b> we collect, <b>share</b> and <b>use</b> our users'
	data and we encourage you to read the Privacy Policy carefully prior to using our Service and use it to make informed decisions.
</p>

<p>
	We reserve the right to periodically amend or revise the Privacy Policy at our sole discretion. Such changes and updated will be effective immediately upon the display of the revised Privacy Policy,
	thus, we encourage you to check this Privacy Policy regularly for updates, so that you are fully informed of how your data is collected and used by Company and your related rights. The last revision date
	will be reflected in the "Last Modified" heading. Your continued use of the Service, following the display of such amendments constitutes your acknowledgement and consent of such amendments to the Privacy
	Policy and your agreement to be bound by the terms of such amendments. In the event of material changes that will affect your use of
	the Service or the data collection by us, we will make best efforts to provide you with notifications through the Service.
</p>

<p>
	IF YOU DO NOT AGREE TO THE AGREEMENT PLEASE DO NOT ACCESS OR USE THE WEBSITE, DOWNLOAD, INSTALL, ADD TO YOUR BROWSER THE STYLISH EXTENSION OR USE THE SERVICES IN ANY MANNER.
</p>

<p>
	<b>WHAT INFORMATION DO WE COLLECT?</b><br />
	The first type of information we collect is non-identifiable aggregated information which is made available via your use of the Service
	("<b>Non-Personal Information</b>"). We are not aware of the identity of the user from which the Non-Personal Information is collected.
	Non-Personal Information which is being collected includes the user's aggregated and technical information transmitted by the user's device as follows:
<ul>
	<li>The Company must collect and store standard web server log information (i.e., web request) as well as data sent in response to that request.</li>
	<li>Date and time stamp;</li>
</ul>

The second type of information we may collect when you install Stylish Extension or otherwise use the Service is identifiable information,
namely information that identifies an individual or may with reasonable effort be used to identify an individual
("<b>Personal Information</b>"). The Personal Information is collected and stored solely in the following events:
<ul>
	<li>Personal Information that was <b>voluntarily provided</b> by you if and when you contact us, this information includes your name and email address, provided that such information will be used
		solely to communicate with and support you, and will not be shared with any third parties;<li>
	<il>If you choose to become a registered user of the Service;</li>
	<li>Voluntarily provide Personal Information through the via the various forums and blogs available within the Website;</li>
</ul>
</p>

<p>
	<b>REGISTRATION PROCESS</b><br />
	You may use the Service as either a registered or non-registered user. However, if you wish to be part of the Stylish Community you will need to become a registered user.
	You can sign up and open an account through https://userstyles.org/login ("<b>Account</b>") which enables you to upload Web Styles, rate other Web Styles, add comments,
	take part in forum discussions and share your experiences of a Service with other Stylish users. During your registration process, you will be asked to provide us with your full name,
	user name, private password and email address. You can also sign up using your social networks, such as: Gmail, Yahoo or Open ID, if you do so, you authorize us to access certain account
	information, all in accordance to your privacy settings in those social networks.
</p>

<p>
	<b>USER GENERATED CONTENT</b><br />
	User generated content ("<b>UGC</b>"), refers to a wide variety of content that is produced by you and other users of the Service, as opposed to content made by us.
	The UGC shall include, among other, Web Styles, images, comments, posts, texts, icons, links, opinions and feedback provided by you and by other users of the Website and Services.
	By exchanging, providing or uploading UGC, you grant us permission to use, store and process aforesaid content, including any of your personal data that are contained therein if any (e.g., comments, rates, etc.).
	You should be fully aware that any content you upload, including any image or personal data of third parties that are contained in your UGC are subject to data protection, intellectual property and other legislation
	and regulation and you are fully responsible for compliance with these laws and regulations. You acknowledge that the we might monitor the UGC and may remove any part thereof at our sole discretion. Nonetheless,
	the Company has no obligation to monitor the UCG and the responsibility and liability with respect to the UCG and its compliance with the law is obliged on you. The UGC is kept and available on our servers,
	however the UGC may be deleted at any time on by you and on our cloud, solely upon providing us with a written request, mail us the request to: contact@userstyles.org. We make best efforts to delete immediately
	but in some cases, where technically not possible it might take us more time or we might not be able to delete all the information or UGC.
</p>

<p>
	<b>HOW IS THE DATA USED?</b><br />
	We collect your information during your access or use of the Website and Service as detailed above. We use your information collected online, to provide you with our Service.
	We collect your information in an effort to improve our user experience,
	to communicate with you about our Services, and to further develop, customize, enhance and improve the performance of our Service, Company’s website and Stylish Extension.
	We also use Non-Personal Information, aggregated information or statistics regarding user browsing behavior as a measure of interest in, and use of, the Service in the form of aggregated data, such as overall patterns or demographic reports, which do not describe or identify any individual user.
</p>

<p>
	<b>HOW IS THE DATA SHARED?</b><br />
	We do <b>not</b> share any Personal Information collected from you with third parties or any of our partners.  We may disclose information you submitted if we have a good
	faith belief that disclosure of such information is reasonably necessary: (i) to comply with any applicable law, regulation, legal process or governmental request; (ii)
	to enforce our policies (including our policies and agreements), including investigations of potential violations thereof; (iii) investigate, detect, prevent,
	or take action regarding illegal activities or other wrongdoing, suspected fraud or security issues; (iv) to establish or exercise our rights to defend against legal claims;
	(v) to prevent harm to the rights, property or safety of us, our users, yourself or any third party; or (vi) for the purpose of collaborating with law enforcement
	agencies or in case we find it necessary in order to enforce intellectual property or other legal rights.
</p>

<p>
	The Non-Personal Information we collect may be used or shared in any of the above circumstances, as well as (i) for the purpose of providing and improving our Services;
	or (ii) internally within the Company to conduct business and marketing analysis, and enhance your experience; or (iii) with our partners as part of Company’s aggregated data analysis services.
	If we combine Personal Information with Non-Personal Information, the combined information will be treated as Personal Information for as long as it remains combined.
</p>

<p>
	We may share your Non-Personal Information with our parent company, any subsidiaries, joint ventures, or other companies under common control
	(collectively "<b>Affiliated Companies</b>") solely if and when applicable or necessary for the purposes described in this Privacy Policy.
	We may share Information, including Personal Information, in the event of a corporate transaction (e.g. sale of a substantial part of our business, merger,
	consolidation or asset sale). In the event of the above, our Affiliated Companies or acquiring company will assume the rights and obligations as described in this Privacy Policy.
</p>

<p>
	<b>USER RIGHTS</b><br />
	Please note that, unless you instruct us otherwise, we retain the information we collect for as long as needed to provide the services described herein and to
	comply with our legal obligations, resolve disputes and enforce our agreements. In the event you do not agree to the aforesaid collection, use and share of data, please immediately
	cease using the Service and remove Stylish Extension from your Chrome browser. If you have provided us with Personal Information by contacting us, such as name and email address,
	and you wish to remove such information please contact us immediately at: contact [at]userstyles.org. In addition, the data we receive depends on your privacy settings with the network
	(i.e., Gmail, Yahoo) and you should always review,
	and if necessary, adjust your privacy settings on third-party websites and services before linking or connecting them to our Service.
</p>

<p>
	<b>HOW DO WE SAFEGUARD YOUR INFORMATION?</b><br />
	We make best efforts to use security methods and encryptions when handling sensitive data (i.e., handle the user data securely, including transmitting
	it via modern cryptography). Unfortunately, no data transmission over the Internet or any wireless network can be guaranteed to be 100% secure.
	As a result, while we strive to protect your information, you acknowledge that: (a) there are security and privacy limitations of the Internet which are beyond our control;
	(b) the security, integrity and privacy of any and all information and data exchanged between you and us through the Service cannot be 100% guaranteed.
</p>

<p>
	<b>MINORS</b><br />
	Children under 13 are prohibited from using the Service. In the event that we become aware that a user under the age of 13 has shared any information,
	we will discard such information. If you have any reason to believe that a child under the age of 13 has shared any information with us, please contact
	us at:contact [at] userstyles.org If you are under 18, please be sure to read this policy with your parents or legal guardians and ask questions about things you do not understand.
</p>

<p>
	<b>HOW TO CONTACT US?</b><br />
	If you have any questions about these terms, please contact us at:contact [at]userstyles.org.
</p>