<h2>userstyles.org</h2>

<h3>Not-logged-in users</h3>

<p>Basic user actions on the site (browsing, searching, etc.) are tracked by userstyles.org via normal HTTP logging. This data will not be made public.</p>

<p>Users who install styles will have their IP addresses recorded. This data is used to prevent a single user installing a style multiple times from counting more than once. This data is retained for a week.</p>

<h3>Logged-in users</h3>

<p>A user account is not required to browse, search, or install styles. A user account is required to post reviews and discussions in the forum and post styles. The IP address used to access an account will be permanently stored. Any reviews, discussions, or styles posted will be associated to the account. Browsing, searching, and style installing actions will be record as per the previous section and will not be tied to the account.</p>

<p>Users have the option of logging in with a username and password or using a third party service such as OpenID. userstyles.org has no control over the data users provide to these third party login services. Users should research these companies and their policies if they're concerned about privacy.</p>

<p>User sessions are handled by cookies. These cookies are set to expire at the end of the user's session, unless the user chooses the "Remember me" option when logging in, in which case they will be remembered for two weeks from the last visit.</p>

<p>Users may provide userstyles.org with an e-mail address. Doing so is optional. This e-mail address:</p>

<ul>
	<li>may be used by users to reset their password if they use the "username and password" login method. Automated password resets are not possible if users do not provide an e-mail address.</li>
	<li>will not be publicly displayed on the site unless users specify that it can be from their user detail page.</li>
	<li>may be used to send users PayPal donations, if they specify it from their user detail page. A donation link will be displayed on their user page and on any styles they post. If users choose to provide a PayPal donation e-mail address, their e-mail address will be publicly displayed to other users who follow the donation link to PayPal's site.</li>
	<li>will be used for forum notifications, if users choose to receive them.</li>
	<li>may be used by an administrator as a point of contact.</li>
	<li>will not be shared with third parties.</li>
	<li>will not be used for regular mass mailings. Adminstrators may send one-off mass mailings to all or a portion of users for important issues.</li>
</ul>


<h2>Tracking by third parties on userstyles.org</h2>

<p>userstyles.org contains HTML/JavaScript code from third parties. This code may set cookies. Third parties include but are not limited to: Google Analytics, Google AdSense, Facebook and Twitter. Users concerned about their privacy as it relates to these services such read these services' privacy policies. <a href="https://www.google.com/policies/privacy/partners/">Read Google's privacy policy</a>.</p>


<h2 id="stylish">Stylish</h2>

<p>Stylish for Firefox and Stylish for Chrome do not contain any code to track user browsing behaviour, on userstyles.org or on other sites.</p>

<p>When installing a style from a site, Stylish will "ping" the originating site to increment the style's download counter (the server side tracking on userstyles.org is described above). When checking for style updates, Stylish will attempt to download updated CSS from the originating site.</p>

<p>When users with Stylish browse userstyles.org, Stylish will indicate to userstyles.org whether it is installed and whether the style displayed is installed or requires update. This is to provide the appropriate prompt to the user (e.g. "Style installed" vs. "Update needed" vs. "Style not installed"). This logic is performed client-side and the user's status is not tracked by userstyles.org.</p>

<p>Stylish contains Google Analytics code to record statistics on users who have Stylish installed. This code is only executed when the extension is initialized; it is not injected into the sites the user visits and therefore does not track user browsing behaviour. <a href="https://www.google.com/policies/privacy/partners/">Read Google's privacy policy</a>.</p>


<h2>Styles installed in Stylish</h2>

<p>Styles installed may contain references to resources (e.g. images) on external servers. To load these external references, the browser must make an HTTP request, which discloses information such as user agent and IP address to the external server. Details on what other information this request discloses is dependent on the user's browser.</p>
