<h2>COPYRIGHT POLICY & NOTICE</h2>

<p>
	If you believe any of the content available in the Site, including any of the Web Styles, infringes your intellectual property rights owned by you or by any third
	party in which you are authorized to act on its behalf, you may submit a copyright infringement notification using our copyright notice form ("<b>Complaint</b>").
</p>
<p>
	The Complaint shall include the following information and shall be submitted to contact [at] userstyles.org
<ol style="list-style-type: lower-alpha;">
	<li>The following subject line: Copyright Notice</li>
	<li>Identification of the work or material claimed to being infringed (it is recommended to add screenshots or direct links), including its location,
		with sufficient detail so that the Company will be able to find it and verify its existence.</li>
	<li>Your contact information, including name, address, telephone number, and email address.</li>
	<li>A statement that the you have a good faith to belief that the alleged content is not authorized by the copyright owner, its agent or law.</li>
	<li>A statement made under penalty of perjury that the information provided in the notice is accurate and that the you are authorized to make the complaint on behalf of the copyright owner.</li>
	<li>A physical or electronic signature of a person authorized to act on behalf of the owner of the copyright that has been allegedly infringed.</li>
</ol>
</p>
<p>
	Be sure to consider whether fair use, fair dealing, or a similar exception to copyright applies before you submit the form. Please remember by submitting a
	Compliant you will be initiating a legal process, hence, please do not make any false claims.
</p>