<p><h2>STYLISH TERMS OF USE</h2>
<i>[Last modified: November 24th, 2016]
</i></p>

<p style="text-align:justify">
	These Terms of Use constitutes a legally binding agreement between us ("<b>Company</b>" or "<b>we</b>") and you ("you", "user").
	These Terms od Use together with our <a rel=nofollow" href="/privacy-policy">Privacy Policy</a> (collectively the "<b>Terms</b>") govern your access and use of our Stylish Website available at http://userstyles.org/ ("<b>Website</b>") and your access,
	use, download and installation of our Stylish browser add-on extension available here ("Stylish Extension").
</p>

<p>
	<b>ACCEPTANCE OF THE TERMS:</b> by installing the Stylish Extension or otherwise using the Service (as defined below) you acknowledge that you have read,
	understood and agreed to be bound by these Terms and to comply with all applicable laws and regulations regarding your use of the Services.
	You accept the Terms by simply using the Service. You understand and agree that we will treat your use of the Service as acceptance of the Terms from that point onwards.
	You further acknowledge that these Terms constitute a binding and enforceable legal contract between the Company and you which further enforces class action waiver and
	arbitration provision as detailed below in the dispute resolution section herein below. IF YOU DO NOT AGREE TO THESE TERMS PLEASE DO NOT ACCESS OR USE THE WEBSITE,
	DOWNLOAD, INSTALL, ADD TO YOUR BROWSER THE STYLISH EXTENSION OR USE THE SERVICES IN ANY MANNER.
</p>

<p>
	<b>SCOPE OF SERVICE</b> <br />
	Our Stylish Extension enables you to personalize and stimulate your browsing experience by creating or using customized CSS for any website you wish according to your personal taste,
	simply by changing fonts, colors, visibility theme, background or elements layout ("<b>Web Style(s)</b>"). You may upload and share your own Web Styles with other users, you may also personally
	and non-commercially use the Web Styles on your own browser (all, and together with the Website and Stylish Extension shall collectively be defined herein as the "<b>Service(s)</b>").
</p>

<p>
	<b>YOUR ACCOUNT</b><br />
	You can use the Services in various ways, if you are a developer and you wish to upload your original Web Style to the Website you will need to sign up and create a
	personal account ("<b>Account</b>"). You may sign up through your used social networks, such as: Gmail, Yahoo or Open ID or manually register by filling in your name, email and creating password.
	You are solely responsible for maintaining the confidentiality of the password you designate, and you agree to immediately notify us of any disclosure or unauthorized use or breach of
	security at contact[at] userstyles.org. Please note, the personal data provided by you via registration shall be treated in accordance with our Privacy Policy [userstyles.org/privacy-policy].
</p>

<p>
	<b>WEB STYLES AND USER GENERATED CONTENT</b><br />
	The user generated content ("<b>UGC</b>"), refers to a wide variety of media content that is produced, submitted and uploaded by you and by other users as opposed to content made by us.
	The UGC shall include, among other, Web Styles, images, comments, posts, texts, icons, links, opinions and feedback provided by you and by other users, etc.
	You hereby undertake and agree that the UGC uploaded by you may not violate any applicable law, including but not limited to: (a) contain hateful content, including any content that might
	encourage or suggest violence of any kind including but to limited to violence and racism based on religion, discriminatory, age, gender identity, sexual orientation, ethnic, nationality
	and ethnic origin; (b) contain adult and pornography content, including, any content that is sexual by its nature such as images containing nudity or sexual language such as descriptions of sexual
	acts or any content which contains alcohol-related or other mature content (including advertisements); (c) contain any content or engages in a behavior which may infringe in any way third party intellectual property,
	including but not limited to patents, copyrights, logos, tradenames, trademarks trade secrets etc. Thus, you may not upload any Web Style which is not solely created by you or in which you do not retain all applicable
	intellectual property rights; (d) contain any content or engage in any activity that shall infringes the right to privacy including but not limited to the use of celebrities’ images or names as well as the use of children’s
	images or names, or include any Personal Information on you or other users’; and (e) contain any content which includes unauthorized commercial communications as well as advertising, spam, incentivized or other way promoting
	any service or product. You hereby represent and warrant that: (i) you retain every right, title and ownership in Web Styles uploaded by you; and  (ii) the Web Styles uploaded by you do not infringe any third intellectual property rights.
</p>

<p>
	By submitting, posting, or displaying UGC and Web Styles through the Services and by uploading a to the Service, you grant Company with a worldwide, non-exclusive, royalty-free,
	transferable license (with right to sub-license) to view, use, display, distribute, reproduce, distribute, prepare derivative works of, display, make available to the public any part of the
	UGC uploaded by you in connection with including without limitation for promoting and redistributing part or all of the Service (and derivative works thereof) in any media formats and through any channel.
	Furthermore, you grant each user of the Service, a worldwide, non-exclusive, royalty-free license to access your UGC and Web Styles through the Service, to download, use, reproduce, distribute,
	prepare derivative works of, display and perform such Web Style to the extent permitted by the functionality of the Service and under these Terms.
</p>

<p>
	IF WE BELIEVE, IN OUR SOLE DISCRETION, OR WE DISCOVER THAT THE UGC PROVIDED BY YOU VIOLATES OR MAY VIOLATE ANY OF THE AFORESAID, WE WILL HAVE THE SOLE AND ABSOLUTE RIGHT TO REMOVE,
	DELETE AND BAND SUCH UGC, INFORMATION OR WEB STYLE. WE MAY ALSO RESTRICT YOUR ACCESS OR USE OF THE SERVICES. YOU ACKNOWLEDGE THAT THE COMPANY MIGHT MONITOR THE UGC AND MAY REMOVE ANY
	PART THEREOF AT ITS SOLE DISCRETION. NONETHELESS, THE COMPANY HAS NO OBLIGATION TO MONITOR THE UCG AND THE RESPONSIBILITY AND LIABILITY WITH RESPECT TO THE UCG AND ITS COMPLIANCE WITH THE LAW IS OBLIGED ON YOU.
</p>

<p>
	<b>LICENSE & INTELLECTUAL PROPERTY RIGHTS</b><br />
	Subject to the terms herein, we hereby grant you a personal, limited, non-exclusive and non-transferable right to download, add to your Chrome, access,
	install and use the Services for your own personal, non-commercial use solely as intended through and permitted by the normal functionality of the Service. We reserve all right,
	title and interest not expressly granted herein under this license to the fullest extent possible under applicable laws. You may not sublicense, assign, or transfer the license granted to you herein,
	and any attempt to sublicense, assign, or transfer any part of your rights under the Terms is void. The Company shall retain ownership in and to the Stylish Extension, Website and Services (excluding the UGC).
	Other than as explicitly set forth in these Terms, you are not granted any right or ownership including any copyright, trademark and other intellectual property rights to any Web Style. All trademarks,
	service marks, product names, and trade names appearing on or through the Services are owned by the Company or other third parties. Notwithstanding the above, the Web Styles are part of the Open Source
	community and are not owned, licensed or transferred herein.
</p>

<p>
	<b>COPYRIGHT POLICY</b><br />
	The Company operates a clear copyright policy in relation to any UGC which is alleged to infringe the copyright of a third party ("<b>Copyright Policy</b>").
	Our copyright policy incorporated the Digital Millennium Copyright Act ("<b>DMCA</b>")
	and we have registered and appointed Designated Agent for copyright takedown notices.
</p>

<p>
	If you believe any of the UGC including any part of any of the Web Styles available throughout the Service, infringes your intellectual property rights owned by you or by any third
	party in which you are authorized to act on its behalf, you may submit a copyright infringement notification using our copyright notice form [userstyles.org/copyright-notice] ("<b>Complaint</b>"),
	the Complaint shall include the following information:
<ol style="list-style-type: lower-alpha;">
	<li>Identification of the work or material claimed to being infringed (it is recommended to add screenshots or direct links), including its location, with sufficient detail so that the Company
		will be able to find it and verify its existence.</li>
	<li>Your contact information, including name, address, telephone number, and email address.</li>
	<li>A statement that the you have a good faith to belief that the alleged UGC is not authorized by the copyright owner, its agent or law.</li>
	<li>A statement made under penalty of perjury that the information provided in the notice is accurate and that the you are authorized to make the complaint on behalf of the copyright owner.</li>
	<li>A physical or electronic signature of a person authorized to act on behalf of the owner of the copyright that has been allegedly infringed.</li>
</ol>
</p>

<p>
	Be sure to consider whether fair use, fair dealing, or a similar exception to copyright applies before you submit the form. Please remember by submitting a Compliant
	you will be initiating a legal process, hence, please do not make any false claims. <br />
	The Copyright Policy protects our right to remove any infringing content from our Service, including any applicable Web Style, in the event we receive a valid Complaint confirming the aforesaid infringement.
	In addition, the Company will terminate the users’ access to the Service if a user has been determined to be a repeat infringer.
	A repeat infringer is a user who has been notified of infringing activity more than three twice.
</p>

<p>
	<b>RESTRICTIONS OF USE</b><br />
	You agree only to use Company’s Services as set forth in these Terms and according to applicable laws and regulations. You shall not agree to, nor shall you authorize or encourage any third party to:
	access the Services by any automated means, including scraping, crawling, data-mining, or using any robot, spider, or any other automatic device; (ii) disrupt, disable, overburden, damage, modify or
	interfere with the Services or otherwise impair or degrade its performance in any way (iii) impede or interfere with others’ use of the Services; (iv) sublicense, redistribute, sell, lease, lend or rent the
	Services; (v) disassemble, reverse engineer, decompile, decrypt, or attempt to derive the source code of the Services; (vi)  alter or modify any part of the Service to any purpose or use other than creating a
	Web Style;  (vii) use the Service for any commercial use unless you obtain Company’s prior written approval:; (vii) use Company’s name, logo or trademarks without Company’s prior written consent; or (ix) use the Services
	to violate any applicable laws, rules or regulations, or for any unlawful, harmful, irresponsible, or inappropriate purpose, or in any manner that breaches these Terms. ANY USE OF THE SERVICES NOT SPECIFICALLY PERMITTED
	UNDER THESE TERMS IS STRICTLY PROHIBITED AND MAY RESULT,
	AT COMPANY'S SOLE DISCRETION, IN THE SUSPENSION OR TERMINATION OF YOUR ACCESS TO THE SERVICE.
</p>

<p>
	<b>PRIVACY</b><br />
	We are committed to the protection of privacy of our users, therefore we handle and store user data solely for the purpose of providing and enabling the Services.
	For more information on our data practices please review our Privacy Policy [available at: userstyles.org/login/policy].
</p>

<p>
	<b>MINORS</b><br />
	Children under 13 are prohibited from using the Service. In the event that we become aware that a user under the age of 13 has shared any information, we will discard such information.
	If you have any reason to believe that a child under the age of 13 has shared any information with us, please contact us at:contact [at]userstyles.org If you are under 18, please be sure to
	read this policy with your parents or
	legal guardians and ask questions about things you do not understand.
</p>

<p>
	<b>DISCLAIMER OF WARRANTIES, LIMITATION OF LIABILITIES</b><br />
	TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW THE COMPANY MAKES NO WARRANTY OR REPRESENTATION, EITHER EXPRESSED OR IMPLIED WITH RESPECT TO THE SERVICES OR ANY UGC,
	INCLUDING THE QUALITY, PERFORMANCE, MERCHANTABILITY, OR FITNESS FOR A PARTICULAR PURPOSE. THE SERVICES AND ANY CONTENT THEREOF ARE PROVIDED "AS IS" OR ""AS AVAILABLE" AND
	YOUR USE OF THE SERVICE IS AT YOUR SOLE RISK. TO THE FULLEST EXTENT PERMITTED BY LAW, IN NO EVENT SHALL THE COMPANY BE LIABLE FOR SPECIAL, INCIDENTAL, CONSEQUENTIAL, DIRECT,
	INDIRECT, EXEMPLARY, PUNITIVE OR TORT DAMAGES, INCLUDING, BUT NOT LIMITED TO, DAMAGES RESULTING FROM LOSS OF USE, LOSS OF DATA, LOSS OF PROFITS, LOSS OF BUSINESS, OR DIMINUTION OF
	VALUE ARISING OUT OF, IN CONNECTION WITH, RELATED TO OR ARISING IN ANY MANNER OUT OF THE USE OF, OR THE INABILITY TO USE, OR ANY DECISION OR ACTION TAKEN IN RELIANCE UPON, THE SERVICES,
	UGC OR ANY CONTENT THEREOF, AND WHETHER BASED IN TORT, CONTRACT, NEGLIGENCE, STRICT LIABILITY OR OTHERWISE, EVEN IF WE ARE OR HAVE BEEN EXPRESSLY ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
	IF YOU BECOME DISSATISFIED IN ANY WAY WITH THE SERVICES YOUR SOLE AND EXCLUSIVE REMEDY IS TO STOP YOUR USE OF THE SERVICES AND DISABLE OR REMOVE THE STYLISH EXTENSION. YOU FURTHER ACKNOWLEDGE
	AND AGREE THAT THE COMPANY MAY CHANGE THE SERVICE IN WHOLE OR IN PART IN ITS SOLE DISCRETION WITH OR WITHOUT NOTICE TO YOU AND WITHOUT ANY LIABILITY TO YOU WHATSOEVER IN CONNECTION THEREWITH.
</p>

<p>
	<b>INDEMNIFICATION</b><br />
	You agree to indemnify and hold the Company and its subsidiaries, affiliates, officers, agents, co-branders or other partners, and employees,
	harmless from any alleged claim or demand, including reasonable attorneys’ fees, made by any third party due to or arising out of your access to or use of the Services
	or to any matter governed by these Terms. The user is solely responsible for his or her actions when using the Service and UGC.
</p>

<p>
	<b>SUPPORT, UPDATES AND UPGRADES</b><br />
	The availability and functionality of the Services depends on various factors, including software, hardware and communication networks that are provided by third parties.
	These factors are not fault-free. The Company does not warrant that the Services will operate without disruption, errors or interruptions, or that it will be accessible,
	or available at all times or be immune from errors or unauthorized access. We reserve the right to add additional features to the Service or to provide updates,
	upgrades or programming fixes; We have no obligation to make available to you any subsequent versions of the Services. Additionally, we shall have no obligation to
	provide support or maintenance for the Services under these Terms. However, we may, at our sole discretion, provide limited technical support, upgrades and updates for the Services.
	In order to enhance and further develop the Website, Stylish Extension or Services we may automatically download and install updates and upgrades from time to time.
	You hereby agree to receive such updates and upgrades as part of your use of the Services. In the event, we believe that such updates or upgrades shall materially affect your use of the Services,
	we will make best efforts to notify you. In addition, your browser periodically checks for updates of all your extensions including the Stylish Extension, this updates shall be governed by your browsers’
	privacy policy and terms which we recommend you review.
</p>

<p>
	<b>TERMINATION</b><br />
	At any time, you may stop using the Service by exiting the Website or removing the Stylish Extension from your browser or disabling the Stylish Extension through your browser’s settings.
	We reserve the right, at any time, to: (i) discontinue, terminate, suspend or modify any aspect of the Service; or (ii) terminate these Terms and your use of the Service with or without cause,
	and shall not be liable to you or any third party for any of the foregoing. The Company does not assume any responsibility with respect to, or in connection with, the termination of the Service or these Terms.
	These Terms will automatically terminate if you fail to comply with any of its requirements. Upon any termination, you agree to stop using the Service, exit the Website and remove the Stylish Extension from your browser.
</p>

<p>
	<b>DISPUTE RESOLUTION</b><br />
	For any dispute you have with us, you agree to first <a rel="no-follow" href="/copyright-notice">contact us</a> and attempt to resolve the dispute with us informally. If we were not able to resolve the dispute with you informally,
	we each agree by these enforceable Terms, to resolve any claim, and unless otherwise required by a mandatory law dispute or controversy arising out of or in connection with or relating to
	these Terms by binding and exclusively arbitration by the American Arbitration Association ("AAA"). ALL CLAIMS MUST BE BROUGHT IN THE PARTIES’ INDIVIDUAL CAPACITY, AND NOT AS A PLAINTIFF OR
	CLASS MEMBER IN ANY PURPORTED CLASS OR REPRESENTATIVE PROCEEDING AND THE ARBITRATOR MAY NOT CONSOLIDATE MORE THAN ONE PERSON’S CLAIMS. YOU AGREE THAT, BY ENTERING INTO THESE TERMS,
	YOU AND US ARE EACH WAIVING THE RIGHT TO A TRIAL BY JURY OR TO PARTICIPATE IN A CLASS ACTION.
</p>

<p>
	You must include your name and residence address, and a clear statement that you want to opt out of this arbitration agreement. This arbitration agreement will survive the termination of these Terms.
	These Terms are governed by and construed in accordance with the laws of the State of New York, Southern District, without giving effect to any principles of conflicts of law and will specifically not be
	governed by the united nations conventions on contracts for the international sale of goods, if otherwise applicable. For any action at law or in equity relating to the arbitration provision of
	these Terms and Conditions, you agree to resolve any dispute you have with exclusively in a state or federal court located in New York, New York Southern District, Manhattan and to submit to the
	personal jurisdiction of the courts located in New York County for the purpose of litigating all such disputes. Any cause of action you might have relating to the service is limited in time to one
	(1) year from the arising incident, and will be permanently barred afterwards. Failure of the Company to enforce any rights or to take action against you in the event of any breach hereunder shall not
	be deemed a waiver of such rights or of subsequent actions in the event of future breaches.
</p>

<p>
	<b>GENERAL</b><br />
	User may not assign its rights or obligations under these Terms without Company’s prior written consent. The parties hereto are and shall remain independent contractors,
	and nothing herein shall be deemed to create any agency, partnership or joint-venture relationship between the parties. Neither Party shall be deemed to be an employee or
	legal representative of the other, nor shall either party have any right or authority to create any obligation on behalf of the other party. The Company shall not be deemed
	in breach of these Terms if the Company is unable to complete the Services or any portion thereof by reason of earthquake, labor dispute, shortages, riots, insurrection,
	fires, flood, storm, explosions, earthquakes, Internet outages or any act of God or any local, state, federal, national or international law, governmental order or regulation or any other event beyond Company’s control.
</p>

<p><i>
	Company reserve the right to suspend, remove, restrict or disable your access and use to parts or all of the Service at any time and without notice or liability,
	at Company’s sole discretion. In no event, will the Company be liable for the suspension, removal, and restriction or disabling of the user access or use of the Services or to any feature available therein.
	Furthermore, the Company reserves the right, at its sole and absolute discretion, to change, modify, add to or delete any of these Terms at any time, including without limitation the availability of any
	feature of the Service. In the event of a material change we will make best efforts to notify you by email or through the Services. Your continued use of the Service following any revision of these Terms
	constitutes your complete and irrevocable consent and acceptance of any and all such changes. If you do not agree with any update or modification, you should cease to use the Services in any matter.
</i>
</p>