<% if @root_category == 'site' %>
	<p><%=site_style_text%></p>
	<p>Search for site styles on the left, or choose from the list of sites with the most styles.</p>
<% elsif @root_category == 'app' %>
	<p><%=app_style_text%></p>
	<p>Search for app styles on the left, or choose a more specific category.</p>
<% end %>

<ul id="subcategory-list">
<% @subcategory_counts.each do |sc| %>
	<li><%=number_with_delimiter(sc['c'])%> <%=link_to(h((sc['subcategory'].nil? ? 'No subcategory' : sc['subcategory'].capitalize) + ' themes'), :controller => 'styles', :action => 'browse', :category => sc['subcategory'].nil? ? sc['category'] + 'none' : sc['subcategory'])%></li>
<% end %>
</ul>


